<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Registration - S P A C E</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="logo.svg" />
                </a>
            </div>

            <h1>S P A C E</h1>

            <p>Welcome, please provide your Alias and click Register;</p>

            <form action="space-register" method="POST">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                Alias
                <br>
                <textarea name="alias" rows="1" cols="60">{{ .Alias }}</textarea>
                <br>
                <input type="hidden" id="next" name="next" value="{{ .Next }}" />
                <br>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-billing-address="true"
                    data-description="{{ .Description }}"
                    data-key="{{ .Key }}"
                    data-label="Register"
                    data-locale="auto"
                    data-name="{{ .Name }}"
                    data-panel-label="Register"
                    data-zip-code="true"></script>
            </form>

            <p class="note">Note: This is one of our few webpages that uses Javascript, if you have disabled it, consider temporarily enabling it so the Stripe button can do its job. For more information see <a href="https://stripe.com/payments/checkout">Stripe Checkout</a>.</p>

            <div class="footer">
                <p>© 2019 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
