<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Space</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="logo.svg" />
                </a>
            </div>

            <h1>Space</h1>
            <p>Welcome to Space, please provide the following information to subscribe for Digital Storage Service;</p>
            <form action="space-storage-subscribe" method="POST">
                Alias
                <br>
                <textarea name="alias" rows="1" cols="60">{{ .Alias }}</textarea>
                <br>
                Customer ID
                <br>
                <textarea name="customerId" rows="1" cols="60">{{ .CustomerId }}</textarea>
                <br>
                <br>
                <input type="submit" value="Subscribe" />
            </form>

            <div class="footer">
                <p>© 2019 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
